@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  background: #1e2124;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}

.wrapper {
  background: #36393e;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 150vh;
  margin: 5rem auto;
}
@media (max-width: 768px) {
  .wrapper {
    width: 100vh;
    height: auto;
  }
}

h2 {
  color: #333;
}

form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  outline: none;
  background-color: #424549;
  border: 1px solid #333;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #fff;
  resize: none;
}

:-ms-input-placeholder {
  color: #fff;
}

button {
  height: 50px;
  font-size: 20px;
  margin: 10px auto;
  background: #8758ff;
  text-transform: capitalize;
  padding: 6px 20px;
  display: block;
  border-radius: 5px;
  border: 0;
  color: white;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.Todo {
  display: flex;
  flex-direction: column;
  background: #424549;
  color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.Todo p {
  word-wrap: break-word;
}

.Todo .description,
.Todo .notes {
  font-size: 1.4rem;
  margin-top: 0.8rem;
}

.fa-trash {
  margin-left: 1rem;
}



footer {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  height: 50px;
}
